.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu a {
    display: block;
    padding: 0px 25px;
    color: #dad1e1;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    padding: 1rem
}

.menu a:hover {
    background-color: #7d82b8;
    color: #bbdbb4;
}

.side-menu {
    display: none;
}

.side-menu:checked~nav {
    max-height: 30%;
}

.side-menu:checked~.hamburger {
    background: transparent;
}

.side-menu:checked~.hamburger .hamburger-item {
    background: transparent;
}

.side-menu:checked~.hamburger .hamburger-item:before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamburger .hamburger-item::after {
    transform: rotate(45deg);
    top: 0;
}

.nav-cart-image {
    width: 25px;
    height: 25px;
}

.menu-cart-container {
    width: auto;
    height: 30px;
    margin-right: 10px;
    background-color: #f9eb48;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 1rem;
    transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
}

.menu-cart-container:hover {
    background-color: #35B2A8;
    ;
}

.nav-cart-count {
    font-size: .9rem;
}

.navbar {
    top: 7%;
}

@media (min-width: 768px) {
    .side-menu:checked~nav {
        max-height: 100%;
    }
}