* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.navbar {
  --bs-navbar-padding-x: 1;
}

body {
  background-color: #DAD1E1;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.cardContainer {

  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
}